extends /_templates/main.pug


block content
    .container
        h2.col-sm-8.offset-sm-2.text-center.my-5= self.title
        form.col-sm-8.offset-sm-2()
            each i in self.form
                +input(i)
        .row.my-5
            .col-sm-4.offset-sm-4
                button#submit.btn.btn-success.btn-lg.col()= self.submit


block script
    script.
        window.entuApiUrl = '#{ self.env.ENTU_API_URL }'
        window.entuApiId = '#{ self.env.ENTU_API_ID }'
        window.entuApiUser = '#{ self.env.ENTU_API_USER }'
        window.entuApiKey = '#{ self.env.ENTU_API_KEY }'
